@charset "utf-8";
/* CSS Document */
/*background*/
*{
	box-sizing:border-box;
}
body{
	background: url("Assets/doodle-bg.png");
	background-size: 750px 750px;
	
}
#container{ 
width:800px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.30)
}
/*Navigtion bar code */
nav{
	margin: 0 0 20px 0 
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A381F2;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color:#7846EB;
}

.active {
  background-color: #A381F2;
}

/*center youtube*/

#Home .container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 80px;
	
}
.ccontainer {
	min-height: 100px;
	padding: 25px;
	padding-top: 25px;
	padding-right:25px;
	padding-bottom: 25px;
	padding-left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	transition: transform .3s
	
}

/*image gallery*/	
	div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #B093F1;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
}

* {
  box-sizing: border-box;
}
/*pop up image gallery*/
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 80%;
	max-width: 1600px;
	height: 90vh;
	max-height: 800px;
	border-radius: 20px;
	background: rgba(254,219,255,0.63);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	overflow: hidden;
	transition: 1s;
	opacity: 0;
}
.popup.active{
	transform: translate(-50%, -50%)scale(1);
	opacity: 1;
}
.popup.active .close-btn,
.popup.active .sarah,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
	opacity: 1;
	transition: opacity .5s;
	transition-delay: 
}

.topbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background:#A381F2;
	color: aliceblue;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
	}
.sarah{
	opacity: 0;
}
.close-btn{
	opacity: 0;
	position: absolute;
	top: 15px;
	right: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #9728BC;
	cursor: pointer;
}
.arrow-btn{
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	border-radius: 50%;
	border: none;
	background: none;
	cursor: pointer;
}
.left-arrow{
	left:10px;
}
.right-arrow{
	right: 10px;
	transform: translateY(-50%) rotate(180deg);
}
.arrow-btn:hover{
	background: rgba(0,0,0,0.70);
}
.index{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 80px;
	font-weight: 100;
	color: beige;
	opacity: 0;

}
.large-image{
	margin-top: 5%;
	width: 80%;
	height: 80%;
	object-fit: contain;
	opacity: 0;
}

	@media only screen and (min-width: 768px) {
						/* tablets and desktop*/
		.responsive {
  padding: 10px 10px;
  float: left;
  width: 24.99999%;
}
	}
@media only screen and (max-width: 767px) {
					/*phones*/
  .responsive {
	  padding: 10px 10px;
  float: left;
  width: 24.99999%;
    width: 32.99999%;
    margin: 1px 0;
	  display: flex;
	  flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

